@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Indie+Flower&family=Tilt+Prism&display=swap');    /*  font-family=== Barriecito,cursive   Indie Flower,cursive    Tilt Prism,cursive  */

/*
font-family: 'Barriecito', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Tilt Prism', cursive;
*/


main{
    background-color: rgba(0, 0, 0, 0.147);
}
h1{

}
h2{

}
p{

}